.p1 {

    height: 100vh;

    background: #158686;
}

.p2 {
    
    top: 128px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;

    color: #FFFFFF;
}

.p3 {
    
    top: 239px;
    
    background: #33ACA5;
}
.p4{
    background: #33ACA5;
border-radius: 50px;
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #FFFFFF;
}
.p5{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #FFFFFF;
}
.p6{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #FFFFFF;
}