.table {
  height: 250px;
  background: #e28686;
  border-radius: 30px;
}

.button2{
  background: #E28686;
  border-radius: 30px;
  }

.button1{
background: #E28686;
border-radius: 30px;
}

.b{
  border: none;
}
