
<!-- <div class="page1">
  <div class="textNayZa">
    NayZa
  </div>
  <div class="a1123">
  </div>
  <div class="a11233"></div>
  <div class="a11"> <h1> ..............นายเนติพษ์ หาญเจริญกูล................. </h1> </div> -->
  <!-- <div class="a12"> <h1> .....................ชื่อเล่น เน อายุ 21........................</h1> </div>
  <div class="a13"><h1>..........กำลังศึกษาที่มหาวิทยาลัยพะเยา.........</h1></div>
  <div class="a14"><h1>..........ที่ทำงานปัจุบัน บริษัท ใบวาจำกัด.........</h1></div>
  <div class="a15"><h1>..................เบอร์โทร 0624045078.....................</h1></div>
  <div class="a16"></div> -->
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  
</div> -->

<router-outlet></router-outlet>