<router-outlet></router-outlet>

<!-- <div class="wrapper">
  <div class="col-6">
    <div class="image">
    </div>
    <button type="text" class="button" routerLink="/product">เข้าสู่ระบบ</button>
    <div class="box">
      <div class="heartext" style="padding-left: 260px;">
        <br> ยินดีต้อนรับ
      </div>
    </div>
    <div class="boxtext">
      <div class="text" style="padding: 20px;">
        ชื่อ : นายชนาธิป ยวงสอน<br>
        ชื่อเล่น : หนุ่ย<br>
        กำลังศึกษา : มหาวิทยาลัยพะเยา<br>
        มาจาก : จังหวัดกำแพงเพชร<br>
        ติดต่อ : 0937811366
      </div>

    </div>
  </div>
</div> -->