<div class="wrapper">
    <h1 class="htext" style="text-align:center">เพิ่มข้อมูลสินค้า</h1>
    <div class="row">
        <div class="col" style="padding: 100px;">
            <div class="boxinput" style="padding: 20px;">
                <form >
                    <div class="form-group">
                        <label class="textcolor" >ยี่ห้อ : </label>
                        <input type="text" name="name" placeholder="ยี่ห้อ" class="form-control">
                    </div>
    
                    <div class="form-group">
                        <label class="textcolor" >ประเภท : </label>
                        <input type="text" name="type" placeholder="ประเภท" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label class="textcolor" >รสชาติ : </label>
                        <input type="text" name="taste" placeholder="รสชาติ" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label class="textcolor" >ปริมาณ : </label>
                        <input type="text" name="amount" placeholder="ปริมาณ" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label class="textcolor" >ราคา : </label>
                        <input type="text" name="price" placeholder="ราคา" class="form-control">
                    </div>
                    
                </form>
            </div><br><br>
            <div style="text-align: center;">
                <button class="colorbotton" routerLink="/product">บันทึกสินค้า</button>
            </div>
        </div>
        
    </div>
</div>