.wrapper{
    background: #406861;
    height: 100vh;
}

.boxinput{
    background: #40B99C;
    border-radius: 10px;
}

.colorbotton{
    border-radius: 5px;
    border: none;
    background-color: #40B99C;
    height: 50px;
    width: 120px;
    color: white;
}

.htext{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;

    color: #FFFFFF;
}

.textcolor{
    color: white;
}

.container-space{
    margin: 0% 10% 8% 10%;
}

.buntonstye{
    display: flex;
    justify-content: space-between;
}

.background{
    background: #40B99C;
}

.backgroundH{
    background: #406861;
}

.backgroundB{
    background: #40B99C;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    border: none;
}

.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150px;

    color: #FFFFFF;
}