<div class="wrapper">
    <h1 class="htext" style="text-align:center">ข้อมูลสินค้า</h1>
    <div class="row">
        <div class="col" style="padding: 100px;">
            <div style="justify-content: space-between;display: flex;">
                <div>
                    <button type="button" class="btn btn-warning" routerLink="">
                        <- กลับหน้าหลัก</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger" routerLink="/addproduct">+ เพิ่มข้อมูลสินค้า</button>
                </div>
            </div><br>

            <div class="boxtable">
                <table class="table">
                    <thead>
                        <tr class="text">
                            <th scope="col">ลำดับ</th>
                            <th scope="col">ยี่ห้อ </th>
                            <th scope="col">ประเภท</th>
                            <th scope="col">รสชาติ</th>
                            <th scope="col">ปริมาณ</th>
                            <th scope="col">ราคา</th>
                            <th scope="col">รายละเอียด</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of this.list;let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{data.name}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.taste}}</td>
                            <td>{{data.amount}}</td>
                            <td>{{data.price}}</td>
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-warning">ค้นหา</button>
                                    </div>

                                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                                        <button type="button" class="btn btn-warning">เเก้ไข</button>
                                    </div>

                                    <div class="btn-group" role="group" aria-label="Third group">
                                        <button type="button" class="btn btn-danger"
                                            (click)="delete(i)">ลบข้อมูล</button>
                                    </div>

                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>