<div class="backgroud">
  <div class="col-6 picpro"></div>
  <div class=""></div>
  <div class="welcome">ยินดีต้อนรับสู่ร้าน<br> ขายบะหมี่กึ่งสําเร็จรูป</div>
  
  <div class="profile">
    ชื่อ นาย อภิชิต เครือสาร <br>
    ชื่อเล่น ไก่โต้ง<br>
    กำลังศึกษา มหาวิทยาลัยพะเยา
    บ้านเกิด ลำปาง<br>
    เบอร์โทร 095-3463627
  </div>
  <img class="picpro" src="https://scontent.fbkk28-1.fna.fbcdn.net/v/t1.6435-9/74893027_1277383659115630_3345071365081268224_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEqwlxFsb_yiBngvWpzSaDdXou79yjOGNdei7v3KM4Y18unbo4PuG99IgUJWBk1mksgiUtMFVSLfAgdUEKDYzdn&_nc_ohc=4yeWxw2tB4AAX9R7K4F&_nc_ht=scontent.fbkk28-1.fna&oh=00_AfDFS9qO3Q8caN4BylSI4iBquIqFKUJLaZ35d99-OFzqtg&oe=6389B83F">
  <button type="button" class="button" (click)="gotoProduct()" style="font-size: 30px">
    <div style="color: #ffffff;">
      ไปยังหน้า สินค้า
    </div>
  </button>


</div>