.page1 {
 
    height: 100%;
    background: #33ACA5;
}

.textNayZa {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;
    color: #FFFFFF;
}

.a1123 {
    width: 220px;
    height: 220px;
    background: #07ECFB;
    border-radius: 360px;
    align-items: center;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a11233 {

    width: 200px;
    height: 200px;
    /* background: url(https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/290031859_3209945052598004_8992174414986554846_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH7F597nQDuklNvyDFZo-mE5Gum0XL8pwLka6bRcvynAmKVKuxaWbG9ZXmhgYiDnp2Ft2dVo9WsKtDyGSS_XQgd&_nc_ohc=pP56kdT1UBEAX_8k5MS&_nc_ht=scontent.fbkk28-1.fna&oh=00_AfAjQ6buLlApdU4tCbflXlEPgJJ8YQxVT39acNoBc_cj2Q&oe=6366DBAB); */
    border-radius: 360px;
}

.a11 {
  
    width: 611px;
    height: 66px;    
    color: #FFFFFF;
    background: #22BCB3;
    border-radius: 20px;
    font-size: 34px;
    border-color: #22BCB3;
}
.a12 {
  
    width: 259px;
    height: 66px;    
    color: #FFFFFF;
    background: #22BCB3;
    border-radius: 20px;
    font-size: 34px;
    border-color: #22BCB3;
}

.container{
    border: 10px;

    align-items: center;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}