<div class="page1">
    <div class="row">
        <div class="col">

            <div class="textNayZa" style="text-align:center">NayZa</div>
            <div class="container">
                <div class="a1123">

                    <img class="a11233"
                        src="https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/290031859_3209945052598004_8992174414986554846_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH7F597nQDuklNvyDFZo-mE5Gum0XL8pwLka6bRcvynAmKVKuxaWbG9ZXmhgYiDnp2Ft2dVo9WsKtDyGSS_XQgd&_nc_ohc=pP56kdT1UBEAX_8k5MS&_nc_ht=scontent.fbkk28-1.fna&oh=00_AfAjQ6buLlApdU4tCbflXlEPgJJ8YQxVT39acNoBc_cj2Q&oe=6366DBAB"
                        alt="">

                </div>
            </div>
            <div class="container text-center">
                <div style="text-align:center">
                    <form style="padding: 30px; ">
                        <div class="a11">
                            นายเนติพษ์ หาญเจริญกูล
                        </div><br>
                        <div class="a11">
                            ชื่อเล่น เน อายุ 21
                        </div><br>
                        <div class="a11">
                            กำลังศึกษาที่มหาวิทยาลัยพะเยา
                        </div><br>
                        <div class="a11">
                            ที่ทำงานปัจุบัน บริษัท ใบวาจำกัด
                        </div><br>
                        <div class="a11">
                            เบอร์โทร 0624045078 </div><br>
                        <button type="button" class="a12" routerLink="/product">ไปยังสินค้า >></button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col col-xl" style="padding: 12px;" *ngFor="let data of res let i = index">
        <div class="card">
            <h3 style="color: #000;margin-top: 10px;">{{res[i]}}</h3>
        </div>
    </div>
</div> -->