<body>
    <!-- <nav class="navbar" id="top">
        <div class="inner">
            <a href="http://sixrevisions.com/css/responsive-background-image/">Read Tutorial</a>
        </div>
    </nav> -->
    <div style=" background-color: rgba(0, 0, 0, 0.6);height: 100vh;">
        <header class="container">

            <section class="content">
                <div class="container-1">
                    <div class="box">

                        <div class="title">
                            <span class="block"></span>
                            <h1>มหาวิทยาลัยพะเยา University of Phayao<span></span></h1>
                        </div>

                        <!-- <div class="role">
                            <div class="block"></div>
                            <p>UI Dev designer</p>
                        </div> -->

                    </div>
                </div>
                <!-- <h1 class="font-size-h">มหาวิทยาลัยพะเยา University of Phayao </h1> -->
                <p class="sub-title"><strong>BAIWA COMPANY</strong>
                    <br />โปรไฟล์นักศึกษาฝึกงานมหาวิทยาลัยพะเยา
                </p>



                <!-- Some content to demonstrate viewport scrolling behavior -->
                <div>
                    <div class="row">
                        <div class="col-12 col-xl" style="padding: 12px;" *ngFor="let data of list">
                            <div class="card p-0">
                                <div class="card-image">
                                    <img class="image-size" src="{{data.image}}" alt="">
                                </div>
                                <div class="card-content d-flex flex-column align-items-center">
                                    <h4 class="pt-2">PROFILE</h4>

                                    <ul class="social-icons d-flex justify-content-center">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
    </div>
</body>