<!-- 
<div style="padding: 50px ">
    <button type="button" class="btn btn-primary" (click)="changName('112')">123</button>
    <h1 style="font-size: 100px;">{{name}}</h1>

    <button type="button" class="btn btn-primary" (click)="countNumer()">+</button>
    <button type="button" class="btn btn-primary" (click)="countNumerDecret()">-</button>
    <h1 style="font-size: 100px;">{{count}}</h1>

    <button type="button" class="btn btn-primary" (click)="change('add')">+ </button>
    <button type="button" class="btn btn-primary" (click)="change1()"> - </button>
    <h1 style="font-size: 100px;">{{count}}</h1>
    
    <h1 *ngIf="count==0" style="font-size: 100px;">{{name}}</h1>
    <h1 *ngIf="count==0;else other" style="font-size: 100px;">{{name}}</h1>
    <ng-template #other>
        <h3 style="font-size: 300px;">กรุณารอ งี้หรอ</h3>
    </ng-template> -->

<!-- <h1>{{name}}</h1>

    <h1>{{name}}</h1>
    <h1>{{name}}</h1> -->



<div class="home1">
  <button type="button" class="h10" routerLink=""> กลับไปยังสินค้า</button>
  <div class="row">

  <div class="col">

<div class="home2">

    <div class="home3">
      <div class="form-group">
      <label for="formGroupExampleInput" class="home21">ยี่ห้อ  </label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="กรุณากรอกยี่ห้อ" [(ngModel)]="form.name">
    </div>
    </div>
    <div class="home4">
      <div class="form-group">
      <label for="formGroupExampleInput" class="home21">ประเภท  </label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="กรุณากรอกประเภท" [(ngModel)]="form.type">
    </div>
    </div>
    <div class="home5">
      <div class="form-group">
      <label for="formGroupExampleInput" class="home21">รสชาติ  </label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="กรุณากรอกรสชาติ" [(ngModel)]="form.taste">
    </div>
    </div>
    <div class="home6">
      <div class="form-group">
      <label for="formGroupExampleInput" class="home21">ปริมาณ  </label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="กรุณากรอกปริมาณ" [(ngModel)]="form.amount">
    </div>
    </div>

    <div class="home7">
      <div class="form-group">
      <label for="formGroupExampleInput2" class="home21">ราคา </label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="กรุณากรอกราคา " [(ngModel)]="form.money">
    </div>

    
    
    


      <button type="button" class="h9" style="text-align:center" (click)="save()">+</button>
    </div>
    <!-- <div class="alert alert-primary mt-3" role="alert" *ngFor="let item of listData;let i = index">
      <div style="justify-content: space-between ;display :flex;">
        <h5>ลำดับ {{i+1}} ชื่อ : {{item.name}}  ประเภท : {{item.type}}  </h5>
        <button type="button" class="btn btn-danger" (click)="deleteInfo(i)">ลบ</button>
        <button type="button" class="btn btn-danger" (click)="editInfo(i)">เเก้ไข</button>

      </div>
      
  </div> -->
    
  </div>

</div>


</div>


<!-- </div> -->