<!-- <button type="button" class="btn btn-primary" (click)="changeName('oooo')">change</button>

<button type="button" class="btn btn-primary" (click)="countCal('add')">+</button>
<button type="button" class="btn btn-primary" (click)="countCal('delete')">-</button>


<h1 >{{count}}</h1>
<h1 *ngIf="count==5;else load">{{name}}</h1>
<ng-template #load>
    <h1>Loading....</h1>
</ng-template> -->

<div style="padding: 50px;">
    <h1>{{listData.length}}</h1>
    <div class="form-group">
        <label for="formGroupExampleInput">ชื่อ : </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ชื่อ" [(ngModel)]="form.name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">อายุ : </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="อายุ" [(ngModel)]="form.age"><br>
        <button type="button" class="btn btn-primary" (click)="save()">บันทึกข้อมูล</button><br><br>

        <div class="alert alert-info" role="alert" *ngFor="let item of listData;let i = index">
            <div style="justify-content: space-between;display: flex;">
                <h5>ลำดับที่ {{i+1}} ชื่อ : {{item.name}} อายุ : {{item.age}}</h5>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-warning" >เเก้ไข</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-danger" (click)="delete(i)">ลบข้อมูล</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>